data/backup/*
APIs/IMDB/.classpath
/.idea/*
Use-Cases/data-inconsistency/API/.idea/*
Use-Cases/imdb/API/IMDB/.classpath
Use-Cases/.settings/org.eclipse.m2e.core.prefs
Use-Cases/uc1-imdb/.classpath
Use-Cases/uc2-datainconsistency/.classpath
Use-Cases/uc2-datainconsistency/.settings/org.eclipse.jdt.core.prefs
Use-Cases/uc2-datainconsistency/.settings/org.eclipse.m2e.core.prefs
Use-Cases/uc1-imdb/.settings/org.eclipse.jdt.core.prefs
Use-Cases/uc1-imdb/.settings/org.eclipse.m2e.core.prefs
Use-Cases/uc3-hybridrelation/.classpath
Use-Cases/uc3-hybridrelation/.settings/org.eclipse.jdt.core.prefs
Use-Cases/uc3-hybridrelation/.settings/org.eclipse.m2e.core.prefs
Use-Cases/.idea/
Use-Cases/uc2-datainconsistency/uc2.iml
Use-Cases/uc3-hybridrelation/uc3.iml
Use-Cases/uc1-imdb/uc1.iml
Use-Cases/usecases.iml
Use-Cases/uc2-datainconsistency/bin/src/main/java/conditions/Condition.class
Use-Cases/*/bin/*
target
src-gen
xtend-gen
.settings
.metadata
bin
generated
test-bin
.classpath
.idea
be.unamur.polystore.dbinitialization/*
be.unamur.polystore.feature/.project
Other resources/*
be.unamur.polystore.updatesite/*
Use-Cases/uc5-SANER2022/data-deployment/ModelB/detailOrderCol.json
Use-Cases/uc5-SANER2022/data-deployment/ModelB/dump.rdb
Use-Cases/uc5-SANER2022/data-deployment/ModelB/orderTable.sql
Use-Cases/uc5-SANER2022/data-deployment/ModelB/sqlTables.sql
Use-Cases/uc5-SANER2022/data-deployment/ModelB/userCol.json
Use-Cases/uc5-SANER2022/data-deployment/ModelA/customerTable.sql
Use-Cases/uc5-SANER2022/data-deployment/ModelA/dump.rdb
Use-Cases/uc5-SANER2022/data-deployment/ModelA/Order.json
Use-Cases/uc5-SANER2022/data-deployment/ModelA/productTable.sql
Use-Cases/uc5-SANER2022/data-deployment/ModelA/sqlTables.sql
be.unamur.polystore.acceleo/src/my_definitions.txt
