<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.unamur.be/polystore/Pml"
			class = "be.unamur.polystore.pml.PmlPackage"
			genModel = "model/generated/Pml.genmodel" />
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="myContentType" name="My Content Type" base-type="org.eclipse.core.runtime.text" priority="high" file-extensions="pml"
		default-charset="UTF-8"/>
	</extension>
</plugin>
